{% extends "layout.html" %}
{% block body %}
  <p>Order docs by id desc, showing from #{{ begin }} to #{{ end }}.</p>

  <hr>
  <table>
    <caption>Recent Docs</caption>
    <thead>
      <tr>
        <th>Doc ID</th>
        <th>Doc Title</th>
      </tr>
    </thead>
    <tbody>
      {% for doc in doclist %}
        <tr>
          <td><a href="/doc/{{ doc.id }}">{{ doc.id }}</a></td>
          <td>{{ doc.title }}</td>
          {% else %}
          <td>NA</td>
          <td>no docs in db</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}