{% extends "layout.html" %}
{% block body %}
<table>
    <caption>Existing Docs with Tag {{ tagname }}</caption>
    <thead>
    <tr>
        <th>Doc ID</th>
        <th>Doc Title</th>
    </tr>
    </thead>
    <tbody>
    {% for doc in doclist %}
    <tr>
        <td><a href="/doc/{{ doc.id }}">{{ doc.id }}</a></td>
        <td>{{ doc.title|safe }}</td>
        {% else %}
        <td>NA</td>
        <td>no docs with this tag in db</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}